.cal {
  border: 0.1rem solid red;
  width: 25rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0rem 0.3rem 1.5rem rgba(113, 115, 119, 0.5);
  background: transparent;
}
input[type="text"] {
  height: 5rem;
  width: 20rem;
  padding: 0rem 1.1rem;
  text-align: right;

  background: transparent;
  border: none;
  font-size: 2rem;
  color: #ffffff;
}
input:focus {
  outline: none;
}
input::placeholder{
  color: #ffffff;
}
.num {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background: transparent;
  grid: 1rem;
  width: 20rem;
  height: 28rem;
  gap: 1rem;
  padding: 1rem 1.2rem;
}
.num button {
  border: 0.1rem solid red;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border-radius: 50%;
  box-shadow: -0.8rem -0.8rem 1.5rem rgba(255, 255, 255, 0.1);
  cursor: pointer;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 1.5rem;
}
.comp {
  color: aquamarine !important;
}
button:hover{
  transform: scale(1.1);
}

.ac , .del{
  font-size: 1.2rem !important;
}


@media (max-width: 322px) {
  html {
    font-size: 62.5%;
  }
}
