*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 82.5%;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
    display: flex;
    justify-content: center;
    align-items: center;
    
}